@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Playwrite+DE+LA+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

/*TROCAR DE FONTE*/
/*TROCAR CORES*/

* {
    font-family: "PT Sans", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex; 
    background-color: black;
}

h2{
    color: brown;
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 18px;
    margin: 20px 250px;
    text-align: center;
    color: white;
}

section{
    text-align: center;
    margin-left: 120px;
}

main{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    section{
        margin-left: 10px;
    }

    p{
        font-size: 18px;
        margin: 20px 50px;
        text-align: center;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {
    /*////*/
}



/* Header */
header {
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column; 
    align-items: center; 
    background-color: brown;
    width: 120px;
    height: 100vh; 
}

.area-img-logo {
    margin-bottom: 40px;
}

.area-img-logo img {
    margin: 0;
    padding: 0;
    width: 200px;
}

.lista {
    list-style: none;
    margin-top: -30px;
}

.item-lista {
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 10px;
    margin-top: 40px;
    transition: 0.2s;
    cursor: pointer;
}

.item-lista:hover {
    transform: scale(1.11, 1.12) translateY(10px);
    transition: 0.5s;
    background-color: white;
    color: brown;
}


@media only screen and (max-width: 320px) {
    header {
        width: 30px;
        height: 150vh; 
        overflow: hidden;
        transition: 0.4s;
    }

    .area-img-logo{
        display: none;
        margin-bottom: -20px;
    }

    .lista{
        display: none;
    }

    .item-lista{
        margin-bottom: 10px;
        margin-top: 30px;
    }

    header:hover{
        width: 120px;
        transition: 0.4s;
    }

    header:hover .area-img-logo{
        display: block;
    }

    header:hover .lista{
        display: block;
    }
}





@media only screen and (min-width: 321px) and (max-width: 768px) {
    header {
        width: 40px;
        height: 150vh; 
        overflow: hidden;
        transition: 0.4s;
    }

    .area-img-logo{
        display: none;
        margin-bottom: 10px;
    }

    .lista{
        display: none;
    }

    header:hover{
        width: 120px;
        transition: 0.4s;
    }

    header:hover .area-img-logo{
        display: block;
    }

    header:hover .lista{
        display: block;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {
    .area-img-logo {
        margin-bottom: 10px;
    }

    .lista {
        list-style: none;
        margin-top: -30px;
    }
    
    .item-lista {
        font-size: 30px;
        color: white;
        background-color: black;
        padding: 4px;
        border-radius: 10px;
        margin-top: 20px;
        transition: 0.2s;
        cursor: pointer;
    }
}


/* Home */
#home{
    background-color: white;
    color: brown;
}

#section-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#section-home h2 {
    color: brown;
    font-size: 100px;
    margin-right: 250px;
}

#section-home h3{
    color: brown;
}

#container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -130px;
}

#container-imagem {
    margin-right: -150px;
}

#container-imagem img {
    width: 500px;
}

#planos2{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    border: 1px solid brown;
    background-color: brown;
    font-weight: bold;
    transition: 0.2s;
    margin-bottom: 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

#planos2:hover{
    transition: 0.2s;
    transform: scale(1.05,1.1);
}



@media only screen and (max-width: 768px) {

    #section-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    #section-home h2 {
        color: brown;
        font-size: 70px;
        margin-right: 80px;
    }
    
    #section-home h3{
        color: brown;
        margin: 20px 50px;
    }
    
    #container-home {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    #container-imagem {
        margin-right: -60px;
    }
    
    #container-imagem img {
        margin-left: 35px;
        width: 200px;
    }
    
    #planos2{
        width: 200px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid black;
        color: white;
        border: 1px solid brown;
        background-color: brown;
        font-weight: bold;
        transition: 0.2s;
        margin-bottom: 15px;
        cursor: pointer;
        margin-bottom: 30px;
    }
    
    #planos2:hover{
        transition: 0.2s;
        transform: scale(1.05,1.1);
    }
    
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {
    /*///*/
}



/* Serviço */
#section-servico{
    display: none;
    margin-top: 100px;
}


.area-box-servicos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-servico{
    background-color: white;
    border: 1px solid brown;
    width: 380px;
    height: 250px;
    margin: 60px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

.box-servico:hover{
    transition: 0.2s;
    height: 400px;
    transform: scale(1.1,1.17) translateY(20px);
}

.box-servico p{
    color: black;
}

.img-box-servico{
    color: brown;
    margin: 30px;
}

.img-box-servico i{
    font-size: 150px;
}

.img-box-servico h3{
    margin-top: 30px;
}

.box-servico:hover .text-box{
    display: block;
    transition: 0.2s;
}

.text-box{
    transition: 0.2s;
    display: none;
    margin: 10px 20px;
    font-size: 16px;
}


@media only screen and (max-width: 768px) {
    .box-servico{
        width: 250px;
        height: 250px;
    }

    .box-servico:hover{
        transition: 0.2s;
        height: 500px;
        transform: scale(1.04,1.06) translateY(20px);
    }

    .area-box-servicos{
        padding-bottom: 150px;
    }

    .img-box-servico h3{
        margin-top: 10px;
    }
     
}




@media only screen and (min-width: 769px) and (max-width: 1440px) {

    .box-servico{
        background-color: white;
        border: 1px solid brown;
        width: 300px;
        height: 300px;
        margin: 60px 15px;
        border-radius: 10px;
        transition: 0.5s;
    }
    


    #section-servico{
        padding-bottom: 120px;
    }
}



/* Equipamentos */
#section-equipamentos{
    display: none;
    margin-top: 100px;
}

.div-equipamentos{
    display: flex;
    justify-content: center;
    width: 100%;
}

.area-equipamentos{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-equipamentos{
    width: 400px;
    height: 400px;
    border: 1px solid brown;
    border-radius: 10px;
    background-color: brown;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content p{
    font-size: 40px;
    color: brown;
    font-weight: bold;
    font-size: bold;
    opacity: 0;
    transition: 0.4s;
    font-family:cursive
}

.box-equipamentos:hover .content p{
    opacity: 1;
    transition: 0.4s;
}

#apolete{
    background-image: url("/assets/img/apolete.jpg");
    background-size: cover;
}

#supino{
    background-image: url("/assets/img/supino.jpeg");
    background-size: cover;
}

#puxador{
    background-image: url("/assets/img/puxador.jpg");
    background-size: cover;
}

#polia{
    background-image: url("/assets/img/polia.jpeg");
    background-size: cover;
}

#esteira{
    background-image: url("/assets/img/esteira.jpg");
    background-size: cover;
}

#cross{
    background-image: url("/assets/img/cross.jpg");
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .area-equipamentos{
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        grid-template-rows: repeat(2, 0fr);
    }

    .box-equipamentos{
        width: 250px;
        height: 250px;
        
    }
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {
    .area-equipamentos{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        grid-template-rows: repeat(2, 0fr);
    }

    .box-equipamentos{
        width: 350px;
        height: 350px;
    }
}


/* Planos */
#section-planos{
    display: none;
    margin-top: 100px;
}

#font-section-planos{
    color: brown;
    font-weight: bold;
}

.area-box-planos{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-planos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 710px; 
    width: 400px;
    padding: 20px; 
    margin: 10px 20px;
    border-radius: 10px;
}

#starter{
    background: linear-gradient(360deg, rgba(132,254,132,1) 7%, rgba(50,205,50,1) 70%);
}

#font-starter{
    color: rgba(132,254,132,1);
    font-weight: bold;
}

#intermediate{
    background: linear-gradient(300deg, rgba(255,172,157,1) 7%, rgba(255,82,51,1) 70%);
}

#font-intermediate{
    color: rgba(255,82,51,1);
    font-weight: bold;
}

#advanced{
    background: linear-gradient(320deg, rgba(67,78,122,1) 7%, rgba(31,75,255,1) 70%);
}

#font-advanced{
    color: rgba(31,75,255,1);
    font-weight: bold;
}

.title-plano{
    margin-top: 20px;
}

.title-plano h3{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.subtitle-plano{
    text-align: center;
    width: 100%;
}

.subtitle-plano p{
    margin: 40px 20px;
    color:white;
}

.content-plano{
    color: white;
    text-align: start;
    margin: 0px 40px;
    flex: 1;
    font-size: 18px;
}

.content-plano ul{
    list-style:none;
}

.content-plano li{
    margin: 10px 0;
}

.preco{
    color: white;
    height: 100%;
    margin-top: auto; 
}

.preco p{
    margin: 10px 0;
    font-size: 40px;
}



@media only screen and (max-width: 768px) {
    .box-planos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; 
        width: 280px;
        border: 1px solid #ddd; 
        padding: 20px; 
        margin: 10px 20px;
        border-radius: 10px;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1440px) {

}



/* Contatos */
#section-contatos{
    display: none;
    margin-top: 10%;
}

.div-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.area-contato{
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 10px;
}

.box-contato{
    width: 400px;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 10px;
    transition: 0.4s;
    font-size: 24px;
    color: brown;
}

.box-contato:hover{
    transition: 0.4s;
    transform: scale(1.1,1.12);
}


#whatsapp:hover{
    background-color: rgb(83, 195, 83);;
    color: white;
    border: transparent;
}

#instagram:hover{
    background: linear-gradient(45deg, #F58529, #DD2A7B, #8134AF, #515BD4);
    color: white;
    border: transparent;
}

#email:hover{
    background-color: rgb(87, 133, 225);
    color: white;
    border: transparent;
}

#location:hover{
    background-color: rgb(228, 68, 68);
    color: white;
    border: transparent;
}


@media only screen and (max-width: 768px) {
    .box-contato{
        width: 250px;
    }

    .box-contato:hover{
        transition: 0.4s;
        transform: scale(1.05,1.07);
    }
    
}   


@media only screen and (min-width: 769px) and (max-width: 1440px) {

}
